.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 917px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 341px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 258px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0 50px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 387px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 2px 113px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 44px;
  width: 44px;
  animation-duration: 1000ms;
  margin: 27px auto 0 2px;
}

.u-section-1 .u-icon-2 {
  height: 44px;
  width: 44px;
  animation-duration: 1000ms;
  margin: -44px auto 0 64px;
}

.u-section-1 .u-icon-3 {
  height: 44px;
  width: 44px;
  animation-duration: 1000ms;
  margin: -44px auto 0 126px;
}

.u-section-1 .u-icon-4 {
  height: 44px;
  width: 44px;
  animation-duration: 1000ms;
  margin: -44px auto 0 188px;
}

.u-section-1 .u-icon-5 {
  height: 44px;
  width: 44px;
  animation-duration: 1000ms;
  margin: -44px 216px 0 auto;
}

.u-section-1 .u-icon-6 {
  height: 41px;
  width: 41px;
  animation-duration: 1000ms;
  margin: -42px 157px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 313px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 319px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-1 .u-icon-5 {
    height: 54px;
    width: 54px;
    margin-top: -49px;
    margin-right: 106px;
  }

  .u-section-1 .u-icon-6 {
    height: 49px;
    width: 49px;
    margin-top: -51px;
    margin-right: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 303px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -46px;
    margin-left: 62px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -43px;
    margin-right: 64px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 1px;
    margin-right: auto;
    margin-left: 4px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -101px;
    margin-right: -3px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 265px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 124px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -45px;
    margin-right: auto;
    margin-left: 186px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -51px;
    margin-right: 151px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -51px;
    margin-right: 223px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 126px;
    margin-bottom: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 34px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -110px;
    margin-right: 23px;
  }
}